html, html a {
    -webkit-font-smoothing: antialiased;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}
body {
    font-family: 'Ubuntu', sans-serif;
}
.header {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#7d7e7d+0,0e0e0e+100;Black+3D */
    background: rgb(125,126,125); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(125,126,125,1) 0%, rgba(14,14,14,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(125,126,125,1)), color-stop(100%,rgba(14,14,14,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7e7d', endColorstr='#0e0e0e',GradientType=0 ); /* IE6-9 */

    border: 1px outset #dddddd;
}
.header > h1 > small {
    color: #dddddd;
}
.header > h1 {
    color: #dddddd;
    font-weight: 400;
    margin: 0;
    padding: 12px;
}
.sidebar {
    padding: 0;
    margin: 0;
}

.sidebar > ul > li > a > div.button {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#a9db80+0,96c56f+100;Green+3D+%232 */
    background: rgb(169,219,128); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(169,219,128,1) 0%, rgba(150,197,111,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(169,219,128,1)), color-stop(100%,rgba(150,197,111,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(169,219,128,1) 0%,rgba(150,197,111,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(169,219,128,1) 0%,rgba(150,197,111,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(169,219,128,1) 0%,rgba(150,197,111,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(169,219,128,1) 0%,rgba(150,197,111,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a9db80', endColorstr='#96c56f',GradientType=0 ); /* IE6-9 */

    border: 1px outset #dddddd;
    text-align: center;
    width: 100%;
    padding: 12px;
}
.sidebar > ul > li > a > div.button:hover {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#a9db80+0,96c56f+100&amp;0.5+0,0.5+100;Green+3D+%232 */
    background: -moz-linear-gradient(top,  rgba(169,219,128,0.5) 0%, rgba(150,197,111,0.5) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(169,219,128,0.5)), color-stop(100%,rgba(150,197,111,0.5))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(169,219,128,0.5) 0%,rgba(150,197,111,0.5) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(169,219,128,0.5) 0%,rgba(150,197,111,0.5) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(169,219,128,0.5) 0%,rgba(150,197,111,0.5) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(169,219,128,0.5) 0%,rgba(150,197,111,0.5) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80a9db80', endColorstr='#8096c56f',GradientType=0 ); /* IE6-9 */

}
.sidebar > ul > li > a,
.sidebar > ul > li > a:hover {
    text-transform: uppercase;
    text-decoration: none;
    color: #101010;
    font-size: 18px;
    font-weight: 700;
}

@-moz-document url-prefix() {
    fieldset { display: table-cell; }
}